{% load staticfiles %}
{% load mysite__tags %}
<!DOCTYPE html>
<html>
<head>
    <title>hybill's blog</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <!-- <link rel="stylesheet" href= "{% static 'mysite/css/bootstrap.min.css' %}"> -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'mysite/css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'mysite/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'mysite/css/highlights/github.css' %}">

    <!-- js -->
    <script src="{% static 'mysite/js/jquery-2.1.3.min.js' %}"></script>
    <script src="https://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
    <!-- <script src="{% static 'mysite/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'mysite/js/pace.min.js' %}"></script> -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'mysite/js/modernizr.custom.js' %}"></script>

    <style>
        span.highlighted{
            color:red;
        }
    </style>
</head>

<body>
<div class="container">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="{% url 'mysite:index' %}">HYBILL's Blog</a></h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="cl-effect-11"><a href="{% url 'mysite:index' %}" data-hover="Home">Home</a></li>
                            <li class="cl-effect-11"><a href="{% url 'Mine:home' %}" data-hover="Personal Page">Personal Page</a></li>
                            <!-- <li class="cl-effect-11"><a href="＃" data-hover="About">About</a></li> -->
                            <!-- <li class="cl-effect-11"><a href="contact.html" data-hover="联系">Contact</a></li> -->
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                <div id="header-search-box">
                    <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
                    <div id="search-form" class="search-form">
                        <form role="search" method="get" id="searchform" action="{% url 'haystack_search' %}">
                            <input type="search" name="q" placeholder="search" required>
                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>
                    </div>
                </div>
            </div><!-- col-md-8 -->
        </div>
    </header>
</div>
<!-- <div class="copyrights">Collect from <a href="http://www.cssmoban.com/">网页模板</a></div>
<div class="copyrights">Modified by <a href="http://zmrenwu.com/">追梦人物的博客</a></div> -->

<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                {% block main %}
                {% endblock main %}
            </main>
            <aside class="col-md-4">
                {% block toc %}
                {% endblock toc %}
                <div class="widget widget-recent-posts">
                    <h3 class="widget-title">The Latest Content</h3>
                    {% get_recent_posts as recent_post_list %}
                    <ul>
                        {% for post in recent_post_list %}
                            <li>
                                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                            </li>
                        {% empty %}
                            No article！
                        {% endfor %}
                    </ul>
                </div>
                <div class="widget widget-archives">
                    <h3 class="widget-title">Date</h3>
                    {% archives as date_list %}
                    <ul>
                        {% for date in date_list %}
                            <li>
                                <a href="{% url 'mysite:archives' date.year date.month %}">{{ date.year }} - {{ date.month }} </a>
                            </li>
                        {% empty %}
                            No list！
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-category">
                    <h3 class="widget-title">Category</h3>
                    {% get_categories as category_list %}
                    <ul>
                        {% for category in category_list %}
                            <li>
                                <a href="{% url 'mysite:category' category.pk %}">{{ category.name }} <span class="post-count">({{category.num_posts}})</span></a>
                            </li>
                        {% empty %}
                            暂无分类！
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-tag-cloud">
                    <h3 class="widget-title">Tags</h3>
                    {% get_tags as tag_list %}
                      <ul>
                        {% for tag in tag_list %}
                        <li>
                          <a href="{% url 'mysite:tag' tag.pk %}">{{ tag.name }}</a>
                        </li>
                        {% empty %}
                        No Tags！
                        {% endfor %}
                      </ul>
                </div>
                <div class="rss">
                    <a href="{% url 'rss' %}"><span class="ion-social-rss-outline"></span> RSS Service</a>
                </div>
            </aside>
        </div>
    </div>
</div>
<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</footer>

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="{% url 'mysite:index' %}">Home</a></li>
            <!-- <li><a href="full-width.html">博客</a></li> -->
            <!-- <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li> -->
        </ul>
    </nav>
</div>

<script src="{% static 'mysite/js/script.js' %}"></script>

</body>
</html>
