{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>hybill's blog</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <!-- <link rel="stylesheet" href= "{% static 'mysite/css/bootstrap.min.css' %}"> -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'mysite/css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'mysite/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'mysite/css/highlights/github.css' %}">

    <!-- js -->
    <script src="{% static 'mysite/js/jquery-2.1.3.min.js' %}"></script>
    <script src="https://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
    <!-- <script src="{% static 'mysite/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'mysite/js/pace.min.js' %}"></script> -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'mysite/js/modernizr.custom.js' %}"></script>

    <style>
        span.highlighted{
            color:red;
        }
    </style>
</head>

<body>
<div class="container">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="{% url 'mysite:index' %}">HYBILL's Blog</a></h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="cl-effect-11"><a href="{% url 'mysite:index' %}" data-hover="Home">Home</a></li>
                            <li class="cl-effect-11"><a href="{% url 'Mine:home' %}" data-hover="Personal Page">Personal Page</a></li>
                            <!-- <li class="cl-effect-11"><a href="＃" data-hover="About">About</a></li> -->
                            <!-- <li class="cl-effect-11"><a href="contact.html" data-hover="联系">Contact</a></li> -->
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                <div id="header-search-box">
                    <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
                    <div id="search-form" class="search-form">
                        <form role="search" method="get" id="searchform" action="{% url 'haystack_search' %}">
                            <input type="search" name="q" placeholder="search" required>
                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>
                    </div>
                </div>
            </div><!-- col-md-8 -->
        </div>
    </header>
</div>

<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                {% block main %}
                {% endblock main %}
            </main>
        </div>
    </div>
</div>