{% extends 'base2.html' %}
{% block main %}
{% load Mine__tags %}
<div class="container">
    <h3><a href="{% url 'Mine:Algorithm' %}" data-hover="Algorithm List">Algorithm List</a></h3>
    <div class="panel-group" id="accordion">
        {% for Algorithm in Algorithm_list %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapse{{Algorithm.id}}">
                            {{Algorithm.name}}
                        </a>
                    </h4>
                </div>
                <div id="collapse{{Algorithm.id}}" class="panel-collapse collapse">
                    <div class="panel-body">
                       {{Algorithm.code|safe}}
                    </div>
                </div>
            </div>
            {% empty %}<h3>No projects</h3>
            {% endfor %}
        </div>
</div>
{% endblock main %}